{% extends "principal.html" %} 
{% block titulo %}
    <title>Facturas</title>
{% endblock %}

{% block cabecera_extra %}
    {% load static %}
    
        <link rel="stylesheet" href="{% static 'css/perfiles.css' %}"/>
    <script type="text/javascript" src="{% static 'javascript/javascript_prueba.js' %}" ></script>
{% endblock %}

{% block contenido %}
<div class="bg-body-secondary" id="botones_cabecera" >
  <button><a href="{% url "crear_factura" %}">Crear factura</a></button>
  <button><a href="{% url "buscar_facturas" %}" >Buscar factura</a></button>
</div>
    <br>


    {% if texto_busqueda %}
    <p>{{texto_busqueda}}</p>
    {% endif %}
    
<ul>
  {% for fact in mostrar_facturas %} 
  <li>
    {% include 'URLs/facturas/facturas.html' %}
    <hr>
  </li>
  <br>
  {% empty %}
  <p>No hay reservas que cumplan los requisitos</p>
  {% endfor %}
</ul>
{% endblock %}