#cabecera{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

div img {
    height: 60px;
}

div h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 2em;
    color: rgb(100, 131, 38);
}

#lista_urls{
    display: flex;
}