h1{
    text-align: center;
    color: olivedrab;
    text-decoration: underline;
}

ul{
    width: 95%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

img{
    width: 250px;
    display: flex;
}