* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: powderblue;
    padding: 20px 0;
}

#cabecera img {
    position: absolute;
    left: 20px;
    width: 60px;
    height: auto;
    width: 125px;
}

#cabecera h1 {
    font-size: xx-large;
    color: seagreen;
    text-align: center;
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 0.9rem;
}
footer a{
    color: seagreen;
}