{% load static %}
<head>
        <link rel="stylesheet" href="{% static 'css/urls_cabecera.css' %}" />
</head>

<div id="lista_urls">
    <ul>
        <li><a href="{% url 'ver_campings' %}">Campings</a></li>
        <li><a href="{% url 'ver_reservas' %}">Reservas Ordenadas por fecha</a></li>
        <li><a href="{% url 'ver_reserva_por_id' 4 %}">Reserva con ID</a></li>
        <li><a href="{% url 'ver_facturas' 200 3 %}">Factura con precio superior a 200 con capacidad de += de 3 personas</a></li>
        <li><a href="{% url 'precio_medio_servicios' %}">Precio medio de los servicios</a></li>
        <li><a href="{% url 'cuidadores_puntuacion_disponibilidad' 7 %}">Puntuacion o disponibilidad de los cuidadores</a></li>
        <li><a href="{% url 'descripcion_serviciosextra' 'causa' %}">ServiciosExtra con texto en la descripción</a></li>
        <li><a href="{% url 'clientes_sin_vehiculo' %}">Clientes que no tienen vehículos</a></li>
        <li><a href="{% url 'reservas_sin_actividades' %}">Reservas que no tienen actividades contratadas</a></li>
        <li><a href="{% url 'reservas_de_cliente_por_id' cliente_id=6 %}">Reservas de un cliente</a></li>
        <li><a href="{% url 'prueba_clase' %}">URL hecha en Clase</a></li>
    </ul>
</div>