<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camping</title>
</head>
<body>
    <h1>Gestión de campings</h1>

    <h2>Enlaces</h2>
    <ul>
        <li><a href="{% url 'ver_campings' %}">Campings</a></li>
        <li><a href="{% url 'ver_reservas' %}">Reservas Ordenadas por fecha y con filtros</a></li>
        <li><a href="{% url 'ver_reserva_por_id' 11 %}">Reserva con ID</a></li>
        <li><a href="{% url 'ver_facturas' 200 3%}">Factura con precio superior a 200 con capacidad de + de 3 personas</a></li>
    </ul>
</body>
</html>