<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camping</title>
</head>
<body>
    <h1>Gestión de campings</h1>

    <h2>Enlaces</h2>
    <ul>
        <li><a href="{% url 'ver_campings' %}">Campings</a></li>
        <li><a href="{% url 'ver_reservas' %}">Reservas Ordenadas por fecha y con filtros</a></li>
        <li><a href="{% url 'ver_reserva_por_id' 4 %}">Reserva con ID</a></li>
        <li><a href="{% url 'ver_facturas' 200 3 %}">Factura con precio superior a 200 con capacidad de += de 3 personas</a></li>
        <li><a href="{% url 'precio_medio_servicios' %}">Precio medio de los servicios</a></li>
        <li><a href="{% url 'cuidadores_puntuacion_disponibilidad' 6 %}">Puntuacion o disponibilidad de los cuidadores</a></li>
        <li><a href="{% url 'descripcion_serviciosextra' 'acciones' %}">ServiciosExtra con texto en la descripción</a></li>
        <li><a href="{% url 'clientes_sin_vehiculo' %}">Clientes que no tienen vehículos</a></li>
        <li><a href="{% url 'reservas_sin_actividades' %}">Reservas que no tienen actividades contratadas</a></li>
        <li><a href="{% url 'reservas_de_cliente_por_id' cliente_id=3 %}">Reservas de un cliente</a></li>
    </ul>
    
</body>
</html>