{% extends "principal.html" %}

{% block cabecera_extra %}
    {% load static %}
    <script type="text/javascript" src="{% static 'javascript/javascript_prueba.js' %}" ></script>
{% endblock %}

{% block titulo %}
    <title>Recepcionistas</title>
{% endblock %}

{% block contenido %}
    {% if texto_busqueda %}
        <p>{{texto_busqueda}}</p>
    {% endif %}


    <ul>
        {% for recepcionista in recepcionistas %}
        <li>
        {% include 'URLs/recepcionistas/recepcionistas_plantilla.html' %}
        </li>
        <hr>
        <br>
        {% empty %}
        <li>No hay personas</li>
        {% endfor %}
    </ul>
{% endblock %}