<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    

    </ul>

        <ul>
        {% for cliente in mostrar_clientes_sin_vehiculo %}
        <li>
            <h2>Cliente: {{ cliente.datos_cliente.nombre }} {{ cliente.datos_cliente.apellido }}</h2>
            <p>Fecha de nacimiento: {{ cliente.datos_cliente.fecha_nacimiento }}</p>
            <p>Teléfono de contacto: {{ cliente.datos_cliente.telefono }}</p>      
            <p>Nacionalidad: {{ cliente.nacionalidad }}</p>
        </li>
        {% empty %}
        <li>Todos los clientes tienen vehículo asociado</li>
        {% endfor %}
    </ul>
</body>
</html>