{% extends "../principal.html" %}
{% block contenido %}
    <ul>
        {% for reserva in mostrar_reservas %}
        <li>
            <h1>ID de Reserva: {{ reserva.id }}</h1>
        <h3>Nombre del cliente: {{ reserva.cliente.datos_cliente.nombre }} {{reserva.cliente.datos_cliente.apellido}}</h3>
        <p>Fecha Inicio: {{ reserva.fecha_inicio }}</p>
        <p>Fecha Fin: {{ reserva.fecha_fin }}</p>
        </li>
        <hr>
        {% empty %}
        <li>No hay reservas que cumplan los requisitos</li>
        {% endfor %}
    </ul>

{% endblock %}