{% extends "principal.html" %}
{% block contenido %}
    {% include 'Plantillas_Modelos/clientes.html' %}
    <br>
    {% include 'Plantillas_Modelos/reservas.html'%}
    <br>
    <h2>Actividades contratadas</h2>
    {% if reserva.actividades.all %}
    <ul>
        {% for actividad in reserva.actividades.all %}
        <li>
            {% include 'Plantillas_Modelos/actividades.html' %}
        </li>
        <br>
        {% empty %}
        <li>No hay actividades contratadas para esta reserva.</li>
        {% endfor%}
    </ul>
    {% else %}
    <p>No hay actividades contratadas para esta reserva.</p>
    {% endif %}
{% endblock %}